.pd{
  padding: 3rem;
  background-color: #fff; 
}
.notice-register-body{
  background-color: #fff; 
  color: #222;
}
.submit-btn{
  margin-top: 1rem;
  color: #222;
}
.notice-register-container{
  padding: 0; 
  margin-top: 3rem;
}