.notice-head{
    color: white;    
    margin: 3rem;
}
.row-mr{
    margin: auto;
    background-color: #222222;
    color: white;
    border-bottom: solid 1px #ffffff;
}
.bottom-line{
  border-bottom: solid 1px #ffffff;
}
.router-style{
  color: #ffffff; 
  text-decoration-line: none
}
.noticeTr{
  transition: background-color 0.2s ease;
  cursor: pointer;
}
.cardTr:hover {
  background-color: rgb(109, 109, 109);
}
.create-register{
  color: white;
}
.notice-register-link{
  margin-top: 2rem;
}
.page-nation{
  color: #fff; 
  background-color: #222222;
}