.pd {
  padding: 3rem;
  background-color: #fff;
}
.notice-register-body {
  background-color: #fff;
  color: #222;
}
.submit-btn {
  margin-top: 1rem;
}
.notice-read-mr {
  margin: 3rem;
}
.notice-read-text {
  color: #222;
}
.line {
  border-bottom: solid 1px #222;
}
.notice-button{
  color: #222;
  margin-left: 1rem;   
}
.notice-modify-container{
  background-color: #fff
}