.notice-button{
  color: white;
  margin-left: 1rem;   
}
.notice-read-mr {
  margin: 3rem;
}
.notice-read-text {
  color: white;
}
.line {
  border-bottom: solid 1px white;
}
.notice-read-container{
  background-color: #fff;
}