.notice-head{
    color: black;    
    margin: 3rem;
}
.row-mr{
    margin: auto;
    background-color: #fff;
    color: #222;
    border-bottom: solid 1px #222;
}
.bottom-line{
  border-bottom: solid 1px #222;
}
.router-style{
  color: #222; 
  text-decoration-line: none
}
.noticeTr{
  transition: background-color 0.2s ease;
  cursor: pointer;
}
.cardTr:hover {
  background-color: rgb(109, 109, 109);
}
.create-register{
  color: white;
}
.notice-register-link{
  margin-top: 2rem;
}
.page-nation{
  color: #222; 
  background-color: #fff;
}