/*
    shopReadProduct Page
*/
.productModifyBtn{
    width: 70px;
    height: 30px;
    margin: 5px;
    background-color: rgb(165, 230, 2);
    font-size: 13px;
}
.productDeletebtn{
    width: 70px;
    height: 30px;
    background-color: rgb(255, 133, 19);
    margin: 5px;
    font-size: 13px;
}

/*
    shopReadProduct Form
*/
.product-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 20px;
}
.product-image {
    width: 550px;
    margin-right: 40px;
}
.product-table{
    width: 550px;
    margin-left: 40px;
}
.shopReadProductName{
    font-size: larger;
}
.shopReadProductPrice{
    font-size: larger;
}
.shopReadProcutNewBox{
    font-size: 13px;
    width: 50px;
    background-color: rgb(243, 79, 133);
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 5px;
}
.shopReadProductBigText{
    font-size: 13px;
    font-weight: 800;
}
.shopReadProductSmallText{
    font-size: 11px;
}
.shopReadProductBigDetail{
    font-size: 13px;
    font-weight: 800;
    color: rgb(243, 79, 133);
}
.shopReadProductDetail{
    font-size: 13px;
}
.backBtn{
    width: 165px;
    height: 40px;
    margin: 0px 10px 0px 0px;
    font-size: 13px;
    background-color: rgb(243, 79, 133);
}
.BagBtn{
    width: 165px;
    height: 40px;
    border: 1px solid rgb(136, 136, 136);
    margin: 0px 10px 0px 0px;
    font-size: 13px;
}
.kakaoPayBtn{
    font-weight: bold;
    width: 340px;
    height: 40px;
    margin: 10px 10px 0px 0px;
    font-size: 13px;
    background-color: rgb(255, 197, 7);
}