.pd {
  padding: 3rem;
  background-color: #fff;
}
.board-register-body {
  background-color: #fff;
  color: #222;
}
.submit-btn {
  margin-top: 1rem;
}
.board-read-mr {
  margin: 3rem;
}
.board-read-text {
  color: #222;
}
.line2 {
  border-bottom: solid 1px #222;
}
.board-button{
  color: #222;
}
.board-modify-container{
  background-color: #fff
}
.board-link{
  color: #222;
  text-decoration: none;
}