.board-mr{
  background-color: #222; 
  color: white; 
  padding-top: 1rem;
}
.category-st{
  color: white; 
  margin-right: 1rem;
}
.board-head{
    color: white;    
    margin: 3rem;
    cursor: pointer;
  }
.row-mr{
    margin: auto;
    background-color: #222222;
    color: white;
    border-bottom: solid 1px #ffffff;
}
.bottom-line{
  border-bottom: solid 1px #ffffff;
}
.router-style{
  color: #ffffff; 
  text-decoration-line: none;
}
.boardTr{
  transition: background-color 0.2s ease;
  cursor: pointer;
}
.boardTr:hover {
  background-color: rgb(41, 41, 41);
}
.create-register{
  color: white;
  text-decoration-line: none;
}
.board-register-link{
  margin-top: 2rem;
}
.page-nation{
  color: #fff; 
  background-color: #222222;
}