.board-button{
  color: white;
}
.board-read-mr {
  margin: 2rem;
}
.board-read-title {
  color: #222;
  margin-bottom: 2rem; 
}
.board-read-text {
  color: white;
}
.line2 {
  border-bottom: solid 1px #222;
}
.board-read-container{
  background-color: #fff;
}
.board-read-container{
  background-color: #fff;
  color: #fff;
}