.container{
    margin: 5rem
}
.ab {
    display: inline;
    margin: 1rem;
    font-weight: 700;
    color: #585858;
}
.ab:hover {
    display: inline;
    margin: 1rem;
    font-weight: 700;
    color: #000000;
    cursor: pointer;
}
.boardList{
    margin-top: 2rem;
    align-content: center;
    width: 100%;
}

.v-selection-control {
    align-items: flex-end;
}

#modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.modal-content {
  background-color: #222222;
    border-radius: 7px;
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 1200px;
    height: 920px;
}
.close {
    float: right;
    font-size: 15px;
}
/* .close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} */
.centerBtn {
    width:100px;
    font-size: 15px;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display:block;
    /* font-weight: bold; */
}
.modifyTr {
    font-size: 17px;
    margin: 10px;
}
.myPageBoards-title{
    margin: 1rem;
    color: #222222;
    background-color: #fff;
  }
  .myPageBoards-mr{
    margin: auto;
    background-color: #fff;
    color: #222222;
  }
  .myPageBoards-line{
    border-bottom: solid 1px #222222;
  }
  .myPageBoards-tr{
    transition: background-color 0.2s ease;
    cursor: pointer;
  }
  .myPageBoards-tr:hover {
    background-color: rgb(109, 109, 109);
}
.myPageBoards-deletBtn{
    margin-top: 2rem;
    margin-right: 2rem;
    float: right;
    /* background-color: red; */
  }
  .th-style{
    border: solid 0.5px #fff;
  }
.myPageBoards-textCenter{
  text-align: center;
}
.myPageBoards-nation{
    margin: 1rem;
  }