.myPageContainer{
    margin-left: 100px;
    margin-top: 80px;
}
.myPageNavi{
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-left: 35px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.edgeButton{
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.mypageLine{
    justify-content: space-between; 
    display: flex;
}
.box3:hover {
    font-weight: bold;
    cursor: pointer;
}
#box1{
    background: #ffffff;
    float: left;
    width: 230px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #585858;
    
}
#box2{
    background: #ffffff;
    /* float: right; */
    width: 70%;
    height: 610px;
    margin-left: 250px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #585858;
}