.recruitment-head{
    color: white;
    margin-top: 4rem;
    margin-bottom: 6rem;
    font-family: 'Foldit';
    font-size: 80px;
}
.recruitment-title{
    /* color: #d5d5d5; */
    color: black;
    font-size: 50px;
    margin-left: 2rem;
    margin-bottom: 2rem;
}
.recruitment-text{
    margin-bottom: 3rem;
    margin-left: 2rem;
    /* color: #bcbcbc; */
    color: black;
    font-size: 20px;
}
.recruitment-text2{
    /* color: #bcbcbc; */
    color: black;
    font-size: 18px;
    margin-left: 2rem;
    margin-bottom: 8rem;
}
.map{
    width: 50%; 
    height: 35%;
    position: absolute;
    right: 2rem;
  }