.comment-page {
    padding-top: 0;
    background-color: #fff;
    color: #222;
    margin-top: 2rem;
  }
  .comment-card{
    background-color: #fff;
    color: #222;    
  }
  .comment-list-page {
    margin-top: 3px;
    padding-bottom: 0;
  }
  .comment-card{
  background-color: #fff;
  color: #222;
}