.managementBoardBtn {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(221, 221, 221, 0.582);
}
.search-container input {
    padding: 6px;
}
.search-container v-btn {
    font-size: 25px;
}