.categoryAndView {
    display: flex; /* Flexbox 컨테이너로 설정 */
}
.managerImg{
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.category-container {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
}
.content-container {
    flex: 1;
    padding: 20px;
}
.managerPageCategory {
    display: flex;
    flex-direction: column;
}
.managerPageCategory button {
    margin-bottom: 10px;
}
.side-bar{
    margin: 20px;
    width: 15%;
}
.bottomBar{
    margin: 20px;
    width: 85%;
}
.managerInfo {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 3px solid rgba(0, 0, 0, 0.103);
    width: 85%;
    height: 200px;
    justify-content: center;
}
.managerHi{
    margin: 10px;
}
.testInfo{
    margin: 20px;
    padding: 20px;
    width: 15%;
    height: 200px;
}
.managerInfomationTopBar{
    display: flex;
}
.managerPageCategory :hover{
    background-color: rgb(244, 244, 244);
}
.managerPageCategory button{
    height: 40px;
}
.managerInfoBox1,
.mamagerInfoBox2,
.mamagerInfoBox3,
.mamagerInfoBox4,
.mamagerInfoBox5{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.managerInfoLine{
    border: 0.5px solid rgba(0, 0, 0, 0.103);
    height: 130px;
    margin: 60px;
}
.red-text {
    color: red;
}
.alertNoResponse{
    font-size: 11px;
}
.requestDataText{
    font-weight: 500;
    font-size: 20px;
}
.blue-text {
    color: blue;
}