.caution-mt{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.caution-color{
    margin: auto;
    color: #222;
    background-color: #fff;
    width: 80%;
    border-radius: 1rem;
}
.caution-title{
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    
}
.caution-text{
    margin-bottom: 2rem;
    border-top: 1px solid  #222;  
    padding: 1rem;
    color: #222;
}
.caution-text2{
    margin-bottom: 2rem;
    padding: 1rem;
    color: #222;
}
.text-mt{
    margin-top: 1rem;
}