.faq-head{
    margin-top: 5rem;
    margin-bottom: 3rem;
    color: black;
    font-size: 50px;

}
.faq-bady{
    margin: 3rem;
    color: #ffffff;
    font-size: 30px;
}
.faq{
    margin-bottom: 10rem;
    width: 90%;
}
.faq3{
    background-color: #222224;
    color: #ffffff;
}

.faq-title{
    font-size: 22px;
    padding: 1.5rem;
}
.faq-text{
    font-size: 18px;
    background-color: #ffffff;
    color: #000;
}
